$custom-black: #0d0d0d;
$custom-gold: #c59d5f;
// $custom-gold: gold;

$custom-white: #fffcf4;
$white-border: rgba(255, 255, 255, 0.322);
$sofia-font: "sofia";
$main-font: "Montserrat", sans-serif;

section {
  overflow: hidden;
}
.title {
  h1 {
    font-family: "monument-regular";
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

    span {
      color: transparent;
      -webkit-text-stroke: 1px white;
    }
  }
}

p,
li {
  font-family: $main-font;
  font-weight: 400;
}

//SCROLL BAR =============================================================
::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $custom-gold;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// HAMBURGER MENU =============================================

$buttonWidth: 30px;
$buttonHeight: 26px;
$buttonColor: white;
$lineThickness: 4px;
$transitionSpeed: 0.25s;
$transitionEasing: ease-in-out;

.menu-toggle {
  position: relative;
  display: block;
  width: $buttonWidth;
  height: $buttonHeight;

  background: transparent;
  border: none;
  border-top: $lineThickness solid;
  border-bottom: $lineThickness solid;

  color: $buttonColor;
  font-size: 0;

  transition: all $transitionSpeed $transitionEasing;

  cursor: pointer;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: $lineThickness;

    position: absolute;
    top: 50%;
    left: 50%;

    background: currentColor;

    transform: translate(-50%, -50%);
    transition: transform $transitionSpeed $transitionEasing;
  }
}

button.is-active {
  border-color: transparent;

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
